<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="image.crystalapps.contentprovidersample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".data.GalleryApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">


        <provider
            android:name=".data.contentprovider.HistoryProvider"
            android:authorities="iamge.crystal.contentprovider.authority"
            android:enabled="true"
            android:exported="true">

        </provider>


        <activity
            android:name=".ui.mainactivity.MainActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ui.pinlock.PinLock">


        </activity>


        <activity android:name=".ui.lock.LockActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.search.SearchableActivity">


        </activity>

        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.singleimage.SingleImageActivity" />
        <activity android:name=".ui.pattern.PatternActivity" />

        <activity android:name=".ui.singlevideo.SingleVideoPlayer">

        </activity>

        <service
            android:name=".services.MediaService"
            android:enabled="true"
            android:exported="false">

        </service>


    </application>

</manifest>